# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
ENV/
env/
*.env
*.sqlite3

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (optional – include if you generate them per environment)
**/migrations/*.pyc
**/migrations/__pycache__/
# Uncomment the next line if you don’t want to track migration files
# **/migrations/*.py

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Others
*.pot
*.mo
*.log
*.bak
*.swp
