{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="sidebar">
        <form method="get">

            <h4>Filter by Category</h4>
            {% for category in categories %}
                <label>
                    <input type="checkbox" name="category" value="{{ category.slug }}"
                        {% if category.slug in selected_categories %}checked{% endif %}>
                    {{ category.name }}
                </label>
            {% endfor %}
            <button type="submit" class="apply-btn">Apply</button>
        </form>
    </div>

    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'img/placeholder.png' %}" alt="No Image">
            {% endif %}
            <div class="product-name">{{ product.name }}</div>
            <div class="product-price">${{ product.price }}</div>
              <a href="{% url 'shop:product_detail' product.id product.slug %}" class="detail-arrow"> →</a>  
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
