{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'useraccount/css/edit_profile.css' %}">
{% endblock %}

{% block content %}
<div class="form-card">
    <h2>Edit Your Profile</h2>

    <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}

        <!-- Profile Photo Preview -->
        <div class="profile-photo-preview">
            {% if form.instance.photo %}
                <img src="{{ form.instance.photo.url }}" alt="Profile Photo" class="profile-photo" />
            {% else %}
                <img src="{% static 'users/default/default.jpg' %}" alt="Default Profile Photo" class="profile-photo" />
            {% endif %}
        </div>

        <!-- Form Fields -->
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
            {{ form.phone_number }}
        </div>

        <div class="form-group">
            {{ form.photo.label_tag }}  
            {{ form.photo }}            

        </div>

        <button type="submit" class="btn-submit">Save Changes</button>
    </form>
</div>
{% endblock %}
