{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'useraccount/css/user.css' %}">
{% endblock %}


{% block content %}
<div class="form-card">
  <h2>Set New Password</h2>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <p>
      <label for="new_password">New Password</label>
      <input type="password" name="new_password" required>
    </p>
    <p>
      <label for="confirm_password">Confirm New Password</label>
      <input type="password" name="confirm_password" required>
    </p>
    <button type="submit">Update Password</button>
  </form>
</div>
{% endblock %}
