{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=2">


    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
    <title>{% block title %}My Shop{% endblock %}</title>
</head>
<body>
  <header>
    <nav class="navbar">

      <div class="nav-left">
        <a href="{% url 'shop:product-list' %}" class="logo-link">
          <img src="/media/logos/logo.jpg"  alt="Site Logo" class="logo-img" />
          <span class="logo-text">Care Coffee</span>
        </a>
      </div>
            <div class="nav-right">
              {% if user.is_authenticated %}
                <div class="account-dropdown">
                    {% if user.profile.photo %}
                      <img src="{{ user.profile.photo.url }}" alt="Profile Photo" class="account-icon" />
                    {% else %}
                      <img src="/media/users/default/default.jpg" alt="Default Photo" class="account-icon" />
                    {% endif %}

                  <div class="dropdown-menu">
                    <a href="{% url 'account:show_profile' %}">My Profile</a>
                    <a href="{% url 'account:edit_profile' %}">Edit profile</a>
                    <a href="{% url 'account:logout' %}">Logout</a>
                  </div>
                </div>
              {% else %}
                <a href="{% url 'account:login' %}" class="btn-auth">Login</a>
              {% endif %}

      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
